{% load static %}
{% if advertisements %}<br/>
    <h1>Объявления</h1><br/>
{% else %}
    <br/><h1>Нет объявлений</h1><br/>
{% endif %}
{% for advertisement in advertisements %}
    <div class="container">
        <div class="card w-100">
            {% if not advertisement.images %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top w-50" height="350" alt="Картинка">

            {% else %}
                <img src="{{ advertisement.images.url }}" class="card-img-top w-50" height="300" alt="Картинка">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ advertisement.title }}</h5>
                <p class="card-text">{{ advertisement.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Категория: {{ advertisement.category }}</li>
                <li class="list-group-item">Цена: {{ advertisement.price }}</li>
                <li class="list-group-item">Телефон: {{ advertisement.author.profile.phone_number }}</li>
            </ul>
            <div class="card-body">
                <button type="submit" class="btn btn-primary"><a class="dropdown-item"
                                                                 href="{% url "advertisements:ads_detail_view" advertisement.pk %}">Подробная
                    информация</a></button>
                <br><br>

                <button type="button" class="btn btn-warning"><a class="dropdown-item"
                                                                 href="{% url "advertisements:ads_update_view" advertisement.pk %}">Изменить</a>
                </button>
                <br><br>
                <button type="button" class="btn btn-danger"><a class="dropdown-item"
                                                                href="{% url "advertisements:ads_delete_view" advertisement.pk %}">Удалить</a>
                </button>
                <br>
                <a class="nav-link" href="{% url "advertisements:ads_comment_create" advertisement.pk %}">Добавить
                    коммент</a>
                <br>
                {% if user.is_authenticated %}
                    <p class="like-counter" id="like-counter-{{ advertisement.pk }}">{{ advertisement.likes.count }}</p>
                    {% if user in advertisement.likes.all %}
                        <a class="like-link invisible" data-ads-id="{{ advertisement.pk }}"
                           href="{% url "advertisements:like_ads" advertisement.pk %}">Нравится</a>
                        <a class="like-link" data-ads-id="{{ advertisement.pk }}"
                           href="{% url "advertisements:unlike_ads" advertisement.pk %}">Не
                            нравится</a>
                    {% else %}
                        <a class="like-link" data-ads-id="{{ advertisement.pk }}"
                           href="{% url "advertisements:like_ads" advertisement.pk %}">Нравится</a>
                        <a class="like-link invisible" data-ads-id="{{ advertisement.pk }}"
                           href="{% url "advertisements:unlike_ads" advertisement.pk %}">Не
                            нравится</a>

                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div><br>
{% endfor %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}