{% extends 'base.html' %}
{% load static %}
{% block lists %}Детальная информация {{ advertisement.title }}{% endblock %}
{% block content %}
    <br><br>
    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
            <div class="col-md-4">
                {% if not advertisement.images %}
                    <img src="{% static 'img/no-image.png' %}" class="img-fluid rounded-start" alt="Картинка">

                {% else %}
                    <img src="{{ advertisement.images.url }}" class="img-fluid rounded-start" alt="Картинка">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Описание: {{ advertisement.description }}</p>
                    <p class="card-text">Категория: {{ advertisement.category }}</p>
                    <p class="card-text">Цена: {{ advertisement.price }} руб.</p>
                    <p class="card-text">Номер телефона: {{ advertisement.author.profile.phone_number }}</p>
                    <p class="like-counter"
                       id="like-counter-{{ advertisement.pk }}">Лайков: {{ advertisement.likes.count }}</p>

                    <br>
                    {% if perms.advertisements.change_advertisement or advertisement.author == user%}

                        <button type="button" class="btn btn-warning"><a class="dropdown-item"
                                                                         href="{% url "advertisements:ads_update_view" advertisement.pk %}">Изменить</a>
                        </button>

                        <br><br>
                        <button type="button" class="btn btn-danger"><a class="dropdown-item"
                                                                        href="{% url "advertisements:ads_delete_view" advertisement.pk %}">Удалить</a>
                        </button>
                    {% endif %}
                    <br>
                    <a class="nav-link" href="{% url "advertisements:ads_comment_create" advertisement.pk %}">Добавить
                        коммент</a>


                </div>
                <p class="card-text"><small
                        class="text-muted">Опубликовано: {{ advertisement.published_at }}</small></p>
            </div>
        </div>
    </div>

    <br>
    {% if comments %}
        <h3>Комментарии</h3>
    {% else %}
    {% endif %}

    {% for comment in comments %}
        <div class="container">
            <div class="card" style="width: 36rem;">
                <div class="card-header">
                    Автор: {{ comment.author }}
                </div>
                <div class="card-body">
                    <pre class="card-text">{{ comment.content }}</pre>
                </div>
                <div class="card-footer text-muted">
                    {{ comment.created_at }}
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        {% if perms.advertisements.change_comment or comment.author == user%}
                        <button type="button" class="btn btn-warning"><a
                                href="{% url "advertisements:comment_update_view" comment.id %}">Изменить</a></button>
                        <button type="button" class="btn btn-danger"><a
                                href="{% url "advertisements:comment_delete_view" comment.id %}">Удалить</a></button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <br>
{% endblock %}
