{% extends 'base.html' %}
{% load static %}
{% block lists %}Детальная информация {{ advertisement.title }}{% endblock %}
{% block content %}
    <br><br>
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">{{ advertisement.title }}</li>
        {% if not advertisement.images %}
            <img src="{% static 'img/no-image.png' %}" width="400" height="300" alt="Картинка">

        {% else %}
            <img src="{{ advertisement.images.url }}" width="400" height="300" alt="Картинка">
        {% endif %}
        <li class="list-group-item">Описание: {{ advertisement.description }}</li>
        <li class="list-group-item">Цена: {{ advertisement.price }}</li>
        <li class="list-group-item">Категория: {{ advertisement.category }}</li>
        <li class="list-group-item">Статус: {{ advertisement.get_status_display }}</li>
        <li class="list-group-item">Опубликовано: {{ advertisement.published_at }}</li>

        <li class="list-group-item">Номер телефона: {{ advertisement.author.profile.phone_number }}</li>
        <br>
        <a href="{% url "advertisements:favorites_ads" advertisement.pk %}">
            {% if advertisement.pk in request.session.favorite_ads %}
                Удалить из избранного
            {% else %}
                Добавить в избранное
            {% endif %}
        </a>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-warning"><a class="dropdown-item"
                                                             href="{% url "advertisements:ads_update_view" advertisement.pk %}">Изменить</a>
            </button>
            <button type="button" class="btn btn-danger"><a class="dropdown-item"
                                                            href="{% url "advertisements:ads_delete_view" advertisement.pk %}">Удалить</a>
            </button>
            <button type="submit" class="btn btn-primary"><a class="dropdown-item"
                                                             href="{% url "advertisements:author_ads_view" advertisement.author.id %}">
                {{ advertisement.author.first_name }} {{ advertisement.author.last_name }}</a>
            </button>
        </div>


        <br><br>
        <a class="nav-link" href="{% url "advertisements:ads_comment_create" advertisement.pk %}">Добавить
            коммент</a>
        {% if comments %}
            <h3>Комментарии</h3>
        {% else %}
        {% endif %}

        {% for comment in comments %}
            <div class="card" style="width: 36rem;">
                <div class="card-header">
                    Автор: {{ comment.author }}
                </div>
                <div class="card-body">
                    <pre class="card-text">{{ comment.content }}</pre>
                </div>
                <div class="card-footer text-muted">
                    {{ comment.created_at }}
                    <br>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-warning"><a
                                href="{% url "advertisements:comment_update_view" comment.id %}">Изменить</a></button>
                        <button type="button" class="btn btn-danger"><a
                                href="{% url "advertisements:comment_delete_view" comment.id %}">Удалить</a></button>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

    </ul><br>
{% endblock %}
