{% extends 'base.html' %}
{#{% loadstatic %}#}
{% block lists %}Детальная информация {{ advertisement.title }}{% endblock %}

{% block nav %}

    {#    <li class="nav-item">#}
    {#        <a class="nav-link active" aria-current="page"#}
    {#           href="{% url 'advertisements:advertisement_update_view' advertisement.pk %}">Редактировать</a>#}
    {#    </li>#}
    {#    <li class="nav-item">#}
    {#        <a class="nav-link active" aria-current="page"#}
    {#           href="{% url 'advertisements:advertisement_delete_view' advertisement.pk %}">Удалить</a>#}
    {#    </li>#}

{% endblock %}
{% block content %}
    <br><br>
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">{{ advertisement.title }}</li>
        <img src="{{ advertisement.images.url }}" width="400" height="300" alt="Картинка">
        <li class="list-group-item">Описание: {{ advertisement.description }}</li>
        <li class="list-group-item">Цена: {{ advertisement.price }}</li>
        <li class="list-group-item">Категория: {{ advertisement.category }}</li>
        <li class="list-group-item">Статус: {{ advertisement.get_status_display }}</li>
        <li class="list-group-item">Номер телефона: {{ phone_number }}</li>
        <br>
        <a href="{% url "advertisements:favorites_ads" advertisement.pk %}">
            {% if advertisement.pk in request.session.favorite_ads %}
                Удалить из избранного
            {% else %}
                Добавить в избранное
            {% endif %}

        </a>

        {#        {% if advertisement.author == user %}#}
        {##}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-warning"><a class="dropdown-item"
                                                             href="{% url "advertisements:advertisement_update_view" advertisement.pk %}">Изменить</a>
            </button>
                        <button type="button" class="btn btn-danger"><a class="dropdown-item"
                                                                        href="{% url "advertisements:advertisement_delete_view" advertisement.pk %}">Удалить</a>
                        </button>
            {#        </div>#}
            {#        {% endif %}#}
            {#               <div>#}
            <button type="submit" class="btn btn-primary"><a class="dropdown-item"
                                                             href="{% url "advertisements:profile_advertisement_detail_view" advertisement.author.id %}">
                {{ advertisement.author.first_name }} {{ advertisement.author.last_name }}</a>
            </button>
        </div>

    </ul><br>
{% endblock %}
