{% extends 'base.html' %}
{% block content %}<br/>
    {% include 'partial/simple_search.html' %}
    {% if advertisements %}<br/>
        <h1>Объявления</h1><br/>
    {% else %}
        <br/><h1>Нет объявлений</h1><br/>
    {% endif %}
    {% for advertisement in advertisements %}
        <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">Название: {{ advertisement.title }}</h5>
                <p class="card-text">Категория: {{ advertisement.category }}</p>
                <p class="card-text">Цена: {{ advertisement.price }}</p>
                <p class="card-text">Статус: {{ advertisement.get_status_display }}</p>

            </div>
            <div>
                <button type="submit" class="btn btn-primary"><a class="dropdown-item"
                                                                 href="{% url "advertisements:advertisement_detail_view" advertisement.pk %}">Подробная
                    информация</a></button>
            </div>
            <br>
{#            {% if admin or advertisement.author == user %}#}
{##}
{#                <div class="btn-group" role="group" aria-label="Basic mixed styles example">#}
{#                    <button type="button" class="btn btn-warning"><a class="dropdown-item"#}
{#                                                                     href="{% url "advertisements:advertisement_update_view" advertisement.pk %}">Изменить</a>#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-danger"><a class="dropdown-item"#}
{#                                                                    href="{% url "advertisements:advertisement_delete_view" advertisement.pk %}">Удалить</a>#}
{#                    </button>#}
{#                </div>#}
{#            {% endif %}#}
            <br>


        </div><br>


    {% endfor %}


{#    {% if is_paginated %}#}
{#        {% include 'partial/pagination.html' %}#}
{#    {% endif %}#}
{% endblock %}